@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

.divider{
    width:25px;
    height:auto;
    display:inline-block;
}

html,
body {
    background-color: #E8EBF7;
    width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

h1 {
    color: #393e41;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5em;
    font-weight:bolder;
    text-shadow: 1px 1px #66b3ba,
    2px 2px #EB4D4D,
     3px 3px #66b3ba,
     4px 4px #EB4D4D;
}

#roll {
    background-color:#EB4D4D;
    color:  #E8EBF7;
    text-shadow: 0 0 1px #393e41, 1.25px 1.25px #393e41;
    box-shadow: 0px 3px 3px #EB4D4D;
    font-family: 'Dhurjati', sans-serif;
    font-size: 1.75em;
    border-radius: 25%;
}

#roll:hover {
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 0 1px #393e41, 1.25px 1.25px #393e41;
    box-shadow: 0 0 10px #EB4D4D, 0 0 5px #393e41;
    color: #EB4D4D;
    background-color: #E8EBF7;
    transition: margin 0.3s;
    transition: background-color 0.7s, color 0.7s;
    border-color: #EB4D4D;
}

#roll2 {
    text-shadow: 0 0 1px #393e41, 1.25px 1.25px #393e41;
    background-color: #66b3ba;
    color:  #E8EBF7;
    box-shadow: 0px 3px 3px #66b3ba;
    font-family: 'Dhurjati', sans-serif;
    font-size: 1.75em;
    border-radius: 25%;
}

#roll2:hover {
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 0 1px #393e41, 1.25px 1.25px #393e41;
    box-shadow: 0 0 10px #66b3ba, 0 0 5px #393e41;
    color: #66b3ba;
    background-color: #E8EBF7;
    transition: margin 0.3s;
    transition: background-color 0.7s, color 0.7s;
    border-color: #66b3ba;
}

#new-game {
    background-color: #393e41;
    color:  #E8EBF7;
    text-shadow: 1px 1px  #EB4D4D, 1.25px 1.25px #66b3ba;
    box-shadow: 0px 3px 3px #393e41;
    font-family: 'Dhurjati', sans-serif;
    font-size: 2em;
    border-radius: 25%;
    width: 150px;
}


@keyframes colorRotate {
  from {
    color: #EB4D4D;
  }
  50% {
    color: #66b3ba;
  }
  100% {
    color: #EB4D4D;
  }
  
}

#new-game:hover {
    text-transform: uppercase;
    font-weight: 500;
    text-shadow:  0 0 1px #393e41, 1.25px 1.25px #393e41;
    box-shadow: 0 0 10px #393e41;
    color: #393e41;
    background-color: #E8EBF7;
    transition: margin 0.3s;
    transition: background-color 0.7s, color 0.7s;
    border-color: #393e41;
    animation: colorRotate 3s linear 0s infinite;
}


button:focus {
    outline: none;
}

.player-panel {
    display: flex;
	flex-direction: row;
    text-align: center;
    margin-top: 4em;
    table-layout: fixed;
}

.divider-1{
    width:50px;
    height:auto;
    display:flex;
}

.divider-2{
    width:50px;
    height:auto;
    display:flex;
}


#player {
    word-spacing: -0.1em;
    color: #393e41;
    font-family: 'Dhurjati', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 0.75em;
    text-shadow: 2px 2px#EB4D4D;
}

#score  {
font-family: 'Dhurjati', sans-serif;
font-size: 80px;
font-weight: 100;
color: #EB4D4D;
margin-top: -0.75em;
text-shadow: 2px 2px #393e41;
}


#player2 {
    word-spacing: -0.1em;
    color: #393e41;
    font-family: 'Dhurjati', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 0.75em;
    text-shadow: 2px 2px #66b3ba;
}

#score2  {
font-family: 'Dhurjati', sans-serif;
font-size: 80px;
font-weight: 100;
color: #66b3ba;
margin-top: -0.75em;
text-shadow: 2px 2px #393e41;
}


#dice-image { 
border-color: #393e41;
border-radius: 2.5em;
filter: saturate(30%);
filter: invert(80%);
filter: grayscale(95%);
mix-blend-mode: exclusion;
image-rendering: crisp-edges;
height: 10em;
width: 10em;
}
